[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rsvd"]
	path = rsvd
	url = https://github.com/erichson/rsvd
[submodule "sparsepca"]
	path = sparsepca
	url = https://github.com/erichson/spca
